

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.headbar{
    height: 100px;
    background-color: orange;
    width: 100%;

}

.footbar{
    height: 100px;
    background-color: red;
    width: 100%;
}


.partecipanti{
    height: calc(100vh - 200px);
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: black;
    justify-content: space-around;

}
.flex{
    display: flex;
    justify-content: end;


}

.scheda{
    width: 18%;
    height: 30%;
    background-image: url(https://picsum.photos/200/300) ;
    background-size: cover;
    margin-bottom: 10px;
}